body {
    background-color: #b6602f;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-image: url('pexels-vishnurnair-1105666.jpg');
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input[type="text"], input[type="email"], input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #e1d2e2;
    color: rgb(0, 0, 0);
}

input[type="radio"], input[type="checkbox"] {
    margin: 10px 0;
}

.schedule label {
    display: block;
    margin: 5px 0;
    color: white;
}

.checkboxes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.checkboxes input {
    margin: 0 10px 0 0;
}

.submit-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.submit-btn:hover {
    background-color: #45a049;
}

h2 {
    margin-bottom: 20px;
}
